body{
    background-color:rgb(156, 186, 243);
}

#container{
    width: 50%;
    margin:auto;
    
}

#first-row{
    display: flex;
    justify-content: space-between;

}
#Dang{
    border: black 2px solid;
    width:200px;
    height:200px;
}
#Nga{
    border: black 2px solid;
    width:200px;
    height:200px;
}

#rest{
    display: flex;
    flex-direction: column;
    width:83%;
    height: 450px;
    margin:auto;
}
#first-line{
    border-bottom: black 2px solid;
    border-left: black 2px solid;
    border-right: black 2px solid;
    height:100px;
}
#seconde-line{
    display: flex;
    flex-direction: row;
}
#block-one{
    width:50%;
    height:100px;
    border-right:black 2px solid;
}
#last-line{
    height:250px;
    width:250px;
    margin:auto;
    border:black 2px solid;
}
img{
    width:200px;
}

#last-line img{
    width:250px;
}

ul{
    font-size:200%;
}

#baplist{
    width:15%;
    margin:auto;
    
}

#dangandnga{
    display:flex;
    width:60%;
    margin:auto;
    justify-content:space-between;
}



#heart {
    position: relative;
    width: 100px;
    height: 90px;
    animation: heartbeat 1s infinite;
    margin:0 auto;
}
#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}



@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}